/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text:khaki ;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("/images/Lading3.jpg");
  margin-top: 0;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);

  background-color: transparent !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}


footer, footer a {
  color: var(--matr-navbar-text-color);
}

.margin-change {
  margin-left: 250px;
}

.custom-btn {
  width: 350px; /* or whatever fixed width you want */
  height: 60px; /* or whatever fixed height you want */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-color {
  background-color: #9d826e !important ; /* Your custom color */
}

/* CSS classes for Footer jsx changing text color to black */
.footer-text-color {
  color: #000000;
}

.button {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #446ade;
  border-radius: 11px;
  border: 3px solid #ffffff;
  border-width: 3px 3px 3px 3px;
  padding: 13px 16px 12px 16px;
  color: #ffffff;
  font-size: 16px;
  font-family: arial;
  font-weight: 300;
  font-style: normal
}

.button > div {
  color: #999999;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
}
.button > i {
  font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 13px;
  position: static
}
.button > .ld {
  font-size: initial
}

